.record {
  list-style: none;
  border: 1px solid #ccc;
  display: flex;
  color: #666;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 5px 0;
  background-color: antiquewhite;
  width: 100%;
  height: auto;
}
.record-calories {
  color: #012367;
  font-weight: bold;
}

